.logored {
  width: 30px;
}

.logored:hover {
  opacity: 0.3;
}

.logopag {
  width: 150px;
}

.redes {
  margin-top: 60px;
}

.siguenos {
  margin-right: 40px;
}

.menu {
  width: 100%;
}

.menuitem {
  padding-left: 0;
  padding-right: 0;
}

.row{
  width: 100%;
}

[class~=menuitem] :hover {
  background: #cccccc !important;
}

.nomargingright {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.form {
  margin-bottom: 20px;
}

.nopaddingupdown {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabla {
  margin-bottom: 0;
}

.nobackgrownd {
  background: none;
}

.img-post {
  width: 100%;
}

.post {
  font-size: 14px !important;
}

.post-input {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  width: 95%;
}

.contenido {
  padding-bottom: 10px;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.text-input {
  margin-right: 10px;
  padding-right: 0;
}

.opcion-busqueda {
  color: black;
}

.opcion-busqueda:hover {
  text-decoration: none;
}
